
@{
    ViewBag.Title = "Index";
}


<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#seed" data-toggle="tab">SeedS</a></li>
                             
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="seed">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in (List<Khareedo.Models.Product>)@ViewBag.product)
                                        {
                                            { Html.RenderPartial("_Product", item); }
                                        }
                                        <!-- end start single product item -->

                                    </ul>
                                    <a class="aa-browse-btn" href="@Url.Action("Products","Products")">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
                                </div>

                              
                            </div>
                           
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

